.App {
  text-align: center;
  background-color: #FFFFFF;
  height: 100%;
}


.page-divider {
  width: 85%;
  background-color: #BAB2E7;
  border: solid 1px #BAB2E7;
  text-align: center;
  margin-left: 5.56rem;
  margin-right: 5.56rem;
}